<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate Genrator</title>
    <link rel="stylesheet" href="../static/styles.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="branding"><a href="https://hack2skill.com"><img class="brandlogo" src="../static/logo.png"/></a></div>
            <div class="heading">Action Panel</div>
            <div class="variable__list">
                <button class="setvariable" id="nameButton" onclick="setNameImage()" disabled><i class="fa-solid fa-circle-plus"></i> &nbsp; Add Name</button>
                <button class="setvariable" id="certButton"  onclick="setCertImage()" disabled><i class="fa-solid fa-circle-plus"></i> &nbsp; Add Certificate ID</button>
            </div>
            <br/>
            <hr/>
            <div  class="variable__list">
                <form>
                <div class="heading">Upload CSV FILE:</div>
                <div class="my-3"><input onchange="uploadCsv(this)" id="csvSelect" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" /></div>
                <button type="submit" id="submitCsv" style="display: none;">submit</button>    
                </form>
            </div>
            <hr/>
            <div  class="variable__list">
                <div class="heading">Customize Text:</div>
                <br/>
                <h5>Select Font:</h5>
                <select id="font">
                    <option>Poppins</option>
                    <option>Roberto</option>
                    <option>Arial</option>
                </select>
                <br/>
                <h5>Set Alignment:</h5>
                <select id="align">
                    <option>Left</option>
                    <option>Right</option>
                    <option>Center</option>
                </select>
            </div>
            <div>
                <button class="genCertificates" onclick="handleSubmit()">Genrate Certificates</button>
            </div>
        </div>
        <div class="right">
            <!-- Image Dropper -->
            <div class="image__dropzone">
                <div id="drop-area" >
                    <form action="" method="POST" enctype="multipart/form-data">
                        <input type="file" id="fileElem"accept="image/*" onchange="handleFiles(this.files)">
                        <label class="button" for="fileElem">Darg or Click to Upload Certificate <strong>Image to get Started.</strong></label>
                    </form>
                </div>
            </div>
            <!-- Image Display -->
                <div id="gallery"><div>ll</div></div>
            
            <div class="csv__uploader"></div>
        </div>
    </div>







    <!-- Javascript -->
    <script>
        const uploadCsv =(e)=>{
            document.getElementById('submitCsv').click();
        }
        const handleSubmit=()=>{
            let nameLeft, nameTop, certLeft,certTop;
            console.log(document.getElementById('cert').getBoundingClientRect().left)
            if(document.getElementById('nameVariable')){
                nameLeft = document.getElementById('nameVariable').getBoundingClientRect().left - document.getElementById('cert').getBoundingClientRect().left;
                nameTop = document.getElementById('nameVariable').getBoundingClientRect().top - document.getElementById('cert').getBoundingClientRect().top;
            }
            if(document.getElementById('certVariable')){
                certLeft = document.getElementById('certVariable').getBoundingClientRect().left - document.getElementById('cert').getBoundingClientRect().left;
                certTop = document.getElementById('certVariable').getBoundingClientRect().top - document.getElementById('cert').getBoundingClientRect().top;
            }

            let submitObject ={
                font: document.getElementById('font').value,
                align: document.getElementById('align').value,
                nameLeft: nameLeft,
                nameTop: nameTop,
                certLeft: certLeft,
                certTop: certTop
            }
            JSON.stringify(submitObject);
            console.log(submitObject);
        }
    </script>
    <script>
        const setNameImage= ()=>{

            // adding Dragable, Scaleable name image
            let img_Div = document.createElement('div');
            let moveable_Div = document.createElement('div')
            let img = document.createElement('img');
            img.src = '../static/name.png';
            img_Div.id ='nameVariable';
            moveable_Div.id ='nameMove';
            moveable_Div.innerHTML='<i class="fa-solid fa-grip-lines-vertical"></i>';
            img_Div.appendChild(moveable_Div);
            img_Div.appendChild(img);

            moveable_Div.addEventListener("mousedown",()=>{
            moveable_Div.addEventListener("mousemove",onDrag);
            })
            document.addEventListener("mouseup",()=>{
            moveable_Div.removeEventListener("mousemove",onDrag);
            })
            document.getElementById('gallery').appendChild(img_Div);

            // On Drag Function
            function onDrag(e){
                let getStyle= window.getComputedStyle(img_Div);
                let left = parseInt(getStyle.left);
                let top = parseInt(getStyle.top);
                img_Div.style.left = `${(e.movementX +left)}px`;
                img_Div.style.top = `${(top + e.movementY)}px`;
            }
            document.getElementById('nameButton').classList.remove('setvariable');
            document.getElementById('nameButton').classList.add('removevariable');
            document.getElementById('nameButton').innerHTML = '<i class="fa-solid fa-circle-minus"></i> &nbsp; Remove Name';
            document.getElementById('nameButton').onclick = function() { removeNameImg() };
        }

        const removeNameImg =() =>{
           const img_Div=  document.getElementById('nameVariable');
            document.getElementById('gallery').removeChild(img_Div);
            document.getElementById('nameButton').onclick = function() { setNameImage() };
            document.getElementById('nameButton').classList.add('setvariable');
            document.getElementById('nameButton').classList.remove('removevariable');
            document.getElementById('nameButton').innerHTML ='<i class="fa-solid fa-circle-plus"></i> &nbsp; Add Name';
        }
        
    </script>
    <script>
        const setCertImage= ()=>{

            // adding Dragable, Scaleable name image
            let img_Div = document.createElement('div');
            let moveable_Div = document.createElement('div')
            let img = document.createElement('img');
            img.src = '../static/cert.png';
            img_Div.id ='certVariable';
            moveable_Div.id ='certMove';
            moveable_Div.innerHTML='<i class="fa-solid fa-grip-lines-vertical"></i>';
            img_Div.appendChild(moveable_Div);
            img_Div.appendChild(img);

            moveable_Div.addEventListener("mousedown",()=>{
            moveable_Div.addEventListener("mousemove",onDrag);
            })
            document.addEventListener("mouseup",()=>{
            moveable_Div.removeEventListener("mousemove",onDrag);
            })
            document.getElementById('gallery').appendChild(img_Div);

            // On Drag Function
            function onDrag(e){
                let getStyle= window.getComputedStyle(img_Div);
                let left = parseInt(getStyle.left);
                let top = parseInt(getStyle.top);
                img_Div.style.left = `${(e.movementX +left)}px`;
                img_Div.style.top = `${(top + e.movementY)}px`;
            }
            document.getElementById('certButton').classList.remove('setvariable');
            document.getElementById('certButton').classList.add('removevariable');
            document.getElementById('certButton').innerHTML = '<i class="fa-solid fa-circle-minus"></i> &nbsp; Remove ID';
            document.getElementById('certButton').onclick = function() { removeCertImg() };
        }

        const removeCertImg =() =>{
            document.getElementById('certVariable').remove();
            document.getElementById('certButton').onclick = function() { setCertImage() };
            document.getElementById('certButton').classList.add('setvariable');
            document.getElementById('certButton').classList.remove('removevariable');
            document.getElementById('certButton').innerHTML ='<i class="fa-solid fa-circle-plus"></i> &nbsp; Add Certificate ID';
        }

    </script>
    <script>
       
        // const gallery = document.getElementsById('gallery');
      

    </script>



    <script>
        // ************************ Drag and drop ***************** //
        let dropArea = document.getElementById("drop-area");

        // Prevent default drag behaviors
        ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, preventDefaults, false)   
        document.body.addEventListener(eventName, preventDefaults, false)
        })

        // Handle dropped files
        dropArea.addEventListener('drop', handleDrop, false)

        function preventDefaults (e) {
        e.preventDefault()
        e.stopPropagation()
        }

        function handleDrop(e) {
        var dt = e.dataTransfer
        var files = dt.files

        handleFiles(files)
        }

        let uploadProgress = []

        function updateProgress(fileNumber, percent) {
        uploadProgress[fileNumber] = percent
        let total = uploadProgress.reduce((tot, curr) => tot + curr, 0) / uploadProgress.length
        progressBar.value = total
        }

        function handleFiles(files) {
        files = [...files]
        files.forEach(uploadFile)
        files.forEach(previewFile)
        }

        function previewFile(file) {
        let reader = new FileReader()
        reader.readAsDataURL(file)
        reader.onloadend = function() {
            let img = document.createElement('img')
            img.src = reader.result;
            img.id='cert';
            document.getElementById('gallery').replaceChild(img, document.getElementById('gallery').childNodes[0]);
            document.getElementById('gallery').style.display ='block';
            document.getElementById('drop-area').style.display ='none';
            document.getElementById("nameButton").disabled= false;
            document.getElementById("certButton").disabled= false;
        }
        }

        function uploadFile(file, i) {
        var url = 'https://api.cloudinary.com/v1_1/joezimim007/image/upload'
        var xhr = new XMLHttpRequest()
        var formData = new FormData()
        xhr.open('POST', url, true)
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')

        xhr.addEventListener('readystatechange', function(e) {
            if (xhr.readyState == 4 && xhr.status == 200) {
            updateProgress(i, 100) // <- Add this
            }
            else if (xhr.readyState == 4 && xhr.status != 200) {
            // Error. Inform the user
            }
        })

        formData.append('upload_preset', 'ujpu6gyk')
        formData.append('file', file)
        xhr.send(formData)
        }
    </script>
</body>
</html>



